/*---------------------------------------------- GLOBAL SETTINGS */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
html { border: 0; margin: 0; padding: 0; width: 100%; height: 100%; }
body { border: 0; margin: 0; padding: 0; width: 100%; height: 100%; position: relative; background-color: #fff;  font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 20px; overflow-x: hidden; }

/* -------------------------------------------------------------- HTML5 TAGS */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
img { width: auto\9; height: auto; max-width: 100%; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic; }

/* -------------------------------------------------------------- LINKS */
a {  font-family: 'Open Sans', sans-serif; color: #07b1e9; text-decoration: none; font-size: 14px; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
a:hover { text-decoration: none; }

/* ----------------------------------------------------------- HEADINGS */
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 0; font-weight: 400; }
h1 { font-family: 'Oswald', sans-serif; font-size: 45px; color: #fff; font-weight: 400; line-height: 52px; text-transform: none; text-transform: uppercase; }
h2 { font-family: 'Oswald', sans-serif; font-size: 36px; line-height: 42px; color: #111; font-weight: 400; text-transform: capitalize; margin: 0px 0px 15px; }
h3 { font-family: 'Oswald', sans-serif; font-size: 30px; line-height: 36px; color: #333333; font-weight: 300; text-transform: capitalize; margin: 0px 0px 15px; }
h4 { font-family: 'Open Sans', sans-serif; font-size: 22px; line-height: 28px; color: #333333; }
h5 { font-family: 'Open Sans', sans-serif; font-size: 20px; line-height: 26px; color: #109af5; text-transform: capitalize; }
h6 { font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 22px; color: #111; text-transform: capitalize; }

/*-------------------------------------------------- PADDING */
.pad5 { padding: 5px 0; }
.pad10 { padding: 10px 0; }

/* ----------------------------------------------------- BASE TYPOGRAPHY */
p { font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 22px; font-weight: 400; color: #606060; margin: 0px 0px 10px; }
p:last-of-type { margin: 0px; }
ul li { font-family: 'Open Sans', sans-serif; list-style: none; color: #666; }
ul li a { font-family: 'Open Sans', sans-serif; color: #666; }
ol li { list-style: decimal; }

/*-------------------------------------------- NESTED LISTS */
ul ul { padding: 0; }
ol ol { padding: 0; }

/*-------------------------------------------- COMMON FORMATTING */
figure, ul, ol { margin: 0; padding: 0 0 0 0; }
ul, ol { padding: 0 0 0 0; }
blockquote { margin: 1.25em; padding: 1.25em 1.25em 0 1.25em; }
sup { position: relative; bottom: 0.3em; vertical-align: baseline; }
sub { position: relative; bottom: -0.2em; vertical-align: baseline; }
acronym, abbr { cursor: help; letter-spacing: 1px; border-bottom: 1px dashed; }
.fleft { float: left; }
.fright { float: right; }
.tcenter { text-align: center; }
.tright { text-align: right; }
.tleft { text-align: left; }
.posi_global { position: relative; }
.valign { vertical-align: middle; }
hr { background: #e5e5e5;/*NS FF OP */ color: #e5e5e5;/*IE*/ border: none;/*FF NS OP*/ height: 1px;/*FF NS OP*/ width: 100%; margin-top: 10px; }

/*-------------------------------------------------------- LINK */
a, a:link, a:visited, a:hover, a:active { outline: none; }

/*------------------------------------------------------- FORMS */
form { margin: 0; padding: 0; display: inline; }
label, textarea, input[type=text], input[type=password] { font-family: 'Open Sans', sans-serif; cursor: text; }
input[type=submit], input[type=button], select { font-family: 'Open Sans', sans-serif; cursor: pointer; -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; }
input[type=text], input[type=password] { outline: none; color: #666; }
::-webkit-input-placeholder { opacity: 1; }
:-moz-placeholder { opacity: 1; }
::-moz-placeholder { opacity: 1; }
:-ms-input-placeholder { opacity: 1; }



/* =======================================================
CSS FOR THE PROJECT STARTS HERE
======================================================= */

.container { max-width: 1320px; margin: 0 auto; padding: 0 15px; position: relative; z-index: 3; }
.container:after { content: ""; display: table; clear: both; }
.btn { display: inline-block; vertical-align: top; font-family: 'Comfortaa', cursive; font-size: 18px; line-height: 24px; color: #fff; text-transform: uppercase; font-weight: 400; padding: 15px 45px; background-color: #109af5; border: none; border-radius: 50px; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -ms-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease; }
.btn:hover { background-color: #01406c; color: #fff; -webkit-box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.3); -moz-box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.3); -ms-box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.3); -o-box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.3); box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.3); }

@media only screen and (max-width: 979px) {
	h2 { font-size: 30px; line-height: 36px; }
	h5 { font-size: 18px; line-height: 24px; }
	p { font-size: 13px; }
	a { font-size: 13px; }
}
@media only screen and (max-width: 767px) {
	h2 { font-size: 28px; line-height: 34px; }
	p { margin: 0px 0px 6px; }
}
@media only screen and (max-width: 639px) {
	h2 { font-size: 24px; line-height: 30px; }
	h5 { font-size: 16px; line-height: 22px; }
	h6 { font-size: 14px; line-height: 20px; }
	.btn { font-size: 16px; line-height: 22px; padding: 10px 40px; }
}

/* -----HEADER PART START----- */
.header { position: absolute; width: 100%; padding: 10px 0px; /* background-color: rgba(16, 154, 245, 0.2); */ z-index: 21; }
.header .logo { float: left; }
.header .right-header { float: right; }
.header nav { float: left; margin-top: 24px; -webkit-transition: all 0.6s ease; -moz-transition: all 0.6s ease; -ms-transition: all 0.6s ease; -o-transition: all 0.6s ease; transition: all 0.6s ease; }
.header nav ul { display: block; }
.header nav ul:after { content: ""; display: table; clear: both; }
.header nav ul li { float: left; margin-right: 30px; }
.header nav ul li.mob { display: none; }
.header nav ul li a { font-size: 16px; line-height: 22px; color: #fff; text-transform: capitalize; font-weight: 600; }
.header nav ul li a:hover { color: #109af5; }

.header .app-btn-set { float: right; margin-top: 17px; }
.store-btn { font-size: 12px; padding: 5px 12px 5px 40px; letter-spacing: 1.5px; font-weight: 600; border: none; display: inline-block; text-decoration: none; background-color: #fff; position: relative; color: #111; background-repeat: no-repeat; background-position: 12px 7px; border-radius: 5px; margin-right: 20px; }
.store-btn:last-child { margin-right: 0px; }
.store-btn.g-store { background-image: url('../images/google-play.png'); }
.store-btn.a-store { background-image: url('../images/apple-store.png'); }
.store-btn em { display: block; margin: 0; font-size: 9px; text-transform: capitalize; line-height: 9px; font-weight: 600; pointer-events: none; font-style: normal; }
.store-btn span { font-size: 14px; font-weight: 600; display: block; line-height: 16px; pointer-events: none; }
.store-btn:hover { background-color: #109af5; color: #fff; background-position: 12px -33px; }


/* -----BANNER PART----- */
.banner { background-position: center; background-repeat: no-repeat; background-size: cover; background-attachment: fixed;  position: relative; padding: 90px 0px 0px; }
.banner:before { content: ""; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-image: url('../images/banner-pattern.png'); background-repeat: repeat; background-position: left top; z-index: 2; }
.banner .text { padding: 150px 0px; position: relative; z-index: 3;  }
.banner .text .text-block { width: 45%; text-align: right; float: right; }
.banner h3 { font-size: 36px; line-height: 42px; color: #fff; margin: 0px 0px 25px; }
.banner p { color: #fff; }

.testimonials { background-color: rgba(16, 154, 245, 0.2); padding: 20px 0px; position: relative; z-index: 3; }
.testimonials figure { display: inline-block; vertical-align: middle; width: 110px; height: 110px; border: 5px solid #fff; border-radius: 50%; margin-right: 30px; }
.testimonials figure img { width: 100%; height: 100%; border-radius: 50%; }
.testimonials .block { display: inline-block; vertical-align: middle; width: calc(100% - 145px); font-size: 18px; line-height: 28px; color: #fff; }
.testimonials .block span { font-size: 60px; display: inline-block; vertical-align: top; position: relative; }
.testimonials .block span.quote-right { top: 5px; }
.testimonials .block h6 { color: #fff; margin: 10px 0px 0px; }
.testimonials .owl-nav.disabled + .owl-dots { display: none; }


/* -----INDEX PAGE STARTS----- */
.section { padding: 70px 0px; text-align: center; }
h6.sub-heading { text-align: center; max-width: 1000px; margin: 0px auto 20px; line-height: 26px; color: #606060 !important; font-weight: 400; font-style: normal !important; }
h6.sub-heading:last-of-type { margin-bottom: 0px; }


/* -----PROCESS----- */
.process {  }
.process ul { display: block; margin: 40px 0px 0px; }
.process ul:after { content: ""; display: table; clear: both; }
.process ul li { float: left; width: 30%; margin-right: 5%; }
.process ul li:nth-child(3n) { margin-right: 0px; }
.process h6 { color: #999; font-style: italic; margin-bottom: 20px; }
.process h4 { margin: 20px 0px 10px; }
.process img { max-width: 100%; -webkit-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.1); -ms-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.1); -o-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.1); border-radius: 15px; }


/* -----VIDEO TUTORIAL----- */
.tutorial { background-color: #f6f6f6; }
.tutorial .video { width: 900px; height: 450px; margin: 50px auto 0px; }
.tutorial .video iframe { width: 100%; height: 100%; }


/* -----MAIN FEATURES----- */
.features { padding: 70px 0px 40px; text-align: center; }
.features h3 { border-bottom: 1px solid #ddd; padding: 0px 0px 20px; }
.features ul { display: block; margin: 50px 0px 0px; }
.features ul:after { content: ""; display: table; clear: both; }
.features ul li { float: left; width: 30%; text-align: center; margin-right: 5%; margin-bottom: 30px; }
.features ul li:nth-child(3n) { margin-right: 0px; }
.features ul li h5 { margin-bottom: 10px; }
.features ul li img { margin: 0px 0px 25px; }


/* -----FOOTER----- */
footer { background-color: #01406c; padding: 40px 0px 30px; }
footer p { color: #fff; }
footer .block { float: left; width: 30%; margin-right: 5%; }
footer .block:last-child { margin-right: 0px; }
footer .block h5 { color: #fff; margin: 0px 0px 20px; }
footer .block ul { display: block; }
footer .block ul li { padding: 7px 0; border-bottom: 1px dashed #005d9e; font-size: 14px; line-height: 20px; font-weight: 400; color: #ddd; }
footer .block ul li:first-child { padding-top: 0px; }
footer .block ul li:last-child { border-bottom: none; padding-bottom: 0px; }
footer .block ul li a { font-size: 14px; line-height: 20px; font-weight: 400; color: #ddd; }
footer .block ul li a:hover { color: #109af5; }

footer .block ul.f-contact li { padding-left: 30px; background-position: 0px 8px; background-repeat: no-repeat; }
footer .block ul.f-contact li.location { background-image: url('../images/icon-location-small.png'); background-position: 0px 3px; }
footer .block ul.f-contact li.call { background-image: url('../images/icon-phone-small.png'); }
footer .block ul.f-contact li.mail { background-image: url('../images/icon-envalop-small.png'); background-position: 0px 2px; }

footer .block ul.social { margin-top: 20px; }
footer .block ul.social li { display: inline-block; vertical-align: top; margin-right: 10px; padding: 0px; }
footer .block ul.social li:last-child { margin-right: 0px; }
footer .block ul.social li a { display: inline-block; vertical-align: top; width: 26px; height: 27px; background-image: url('../images/social-links.png'); background-repeat: no-repeat; }
footer .block ul.social li.facebook a { background-position: 0px 0px; }
footer .block ul.social li.twitter a { background-position: -38px 0px; }
footer .block ul.social li.youtube a { background-position: -76px 0px; }
footer .block ul.social li.facebook a:hover { background-position: 0px -28px; }
footer .block ul.social li.twitter a:hover { background-position: -38px -28px; }
footer .block ul.social li.youtube a:hover { background-position: -76px -28px; }
footer .block ul.terms-condition { padding: 5px 0px 0px; }
footer .block ul.terms-condition li { display: inline-block; vertical-align: top; border: none; border-right: 1px solid #109af5; padding-right: 5px; padding-bottom: 0px; margin-right: 5px; font-size: 12px; line-height: 12px; }
footer .block ul.terms-condition li:last-child { padding: 0px; margin: 0px; border: none; }
footer .block ul.terms-condition li a { width: auto; height: auto; background: none; font-size: 12px; line-height: 12px; color: #ddd; }
footer .block ul.terms-condition li a:hover { color: #109af5; text-decoration: underline; }


/* CONTACT PAGE START HERE------------------------------------- */

/* -----INNER BANNER----- */
.inner-banner { position: relative; }
.inner-banner:before { content: ""; position: absolute; left: 0px; top: 0px; background-image: url('../images/banner-pattern.png'); background-repeat: repeat; background-position: left top; width: 100%; height: 100%; z-index: 2; }
.inner-banner img { width: 100%; }
.inner-banner .caption { position: absolute; left: 50%; top: 50%; width: 100%; max-width: 1170px; padding: 60px 15px 0px; text-align: center; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 5; }
.inner-banner .caption h2 { color: #fff; font-size: 52px; line-height: 1; }

@media only screen and (max-width: 979px) {
	.inner-banner .caption { padding: 40px 15px; }
	.inner-banner .caption h2 { font-size: 40px; margin: 0px; }
}
@media only screen and (max-width: 767px) {
	.inner-banner .caption h2 { font-size: 36px; line-height: 42px; }
}
@media only screen and (max-width: 639px) {
	.inner-banner .caption h2 { font-size: 30px; line-height: 36px; }
}
@media only screen and (max-width: 479px) {
	.inner-banner .caption h2 { font-size: 24px; line-height: 30px; }
}

/* CONTACT SECTION */
.contact-section { padding: 70px 0px; }
.contact-section .container { max-width: 1000px; }
.contact-section h5 { text-align: center; color: #4c4c4c; margin: 0px 0px 50px; }
.contact-form { float: right; width: 65%; text-align: left; }
.contact-form ul li { display: block; margin: 0px 0px 30px; }
.contact-form ul li:last-child { margin: 0px; }
.contact-form ul li:after { content: ""; display: table; clear: both; }
.contact-form ul li .block { float: left; width: 48%; margin-right: 4%; position: relative; }
.contact-form ul li .block:nth-child(2n) { margin-right: 0px; }
.contact-form ul li input:not([type="submit"]):not([type="button"]), .contact-form ul li textarea { width: 100%; height: 50px; background-color: #fff; border: 1px solid #eaeaea; border-radius: 0px; font-size: 14px; line-height: 48px; font-weight: 400; color: #a8a8a8; padding: 0px 15px; }
.contact-form ul li textarea { resize: none; height: 96px; padding: 15px; line-height: 20px; }
.contact-form ul li input:not([type="submit"]):not([type="button"])::-webkit-input-placeholder { color: #a8a8a8; opacity: 1; }
.contact-form ul li input:not([type="submit"]):not([type="button"]):-moz-placeholder { color: #a8a8a8; opacity: 1; }
.contact-form ul li input:not([type="submit"]):not([type="button"])::-moz-placeholder { color: #a8a8a8; opacity: 1; }
.contact-form ul li input:not([type="submit"]):not([type="button"]):-ms-input-placeholder { color: #a8a8a8; opacity: 1; }

.contact-form ul li textarea::-webkit-input-placeholder { color: #a8a8a8; opacity: 1; }
.contact-form ul li textarea:-moz-placeholder { color: #a8a8a8; opacity: 1; }
.contact-form ul li textarea::-moz-placeholder { color: #a8a8a8; opacity: 1; }
.contact-form ul li textarea:-ms-input-placeholder { color: #a8a8a8; opacity: 1; }

.contact-form ul li select { width: 100%; height: 50px; background-color: #fff; border: 1px solid #eaeaea; border-radius: 0px; font-size: 14px; line-height: 48px; font-weight: 400; color: #a8a8a8; padding: 0px 30px 0px 15px; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; background-image: url('../images/select-dropdown.png'); background-repeat: no-repeat; background-position: right 10px center; }
.contact-form ul li input[type=file] { position: absolute; filter: alpha(opacity=0); opacity: 0; }
.contact-form ul li [type=file] + label { border: 1px solid #eaeaea; text-align: left; padding: 0px 15px 0px 50px; width: 100%; height: 50px; left: 0; top: 0px; position: relative; font-size: 14px; line-height: 48px; font-weight: 400; color: #a8a8a8; background-image: url('../images/add-file.png'); background-position: 10px 8px; background-repeat: no-repeat; background-color: #fff; display: block; cursor: pointer; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }


.contact-details { float: left; width: 30%; padding: 15px; background-color: #f6f6f6; border: 1px solid #ddd; font-size: 14px; line-height: 24px; color: #333; font-style: italic; }

@media only screen and (max-width: 979px) {
	.contact-section { padding: 50px 0px; }
}
@media only screen and (max-width: 767px) {
	.contact-section { padding: 40px 0px; }
	.contact-form { width: 100%; margin: 30px 0px 0px; }
	.contact-details { width: 100%; }
}
@media only screen and (max-width: 639px) {
	.contact-section { padding: 30px 0px; }
	.contact-details { font-size: 13px; line-height: 22px; padding: 10px; }
	.contact-form ul li { margin: 0px 0px 15px; }
	.contact-form ul li input:not([type="submit"]):not([type="button"]), .contact-form ul li textarea { font-size: 13px; line-height: 38px; height: 40px; padding: 0px 8px; }
	.contact-form ul li [type="file"] + label { font-size: 13px; line-height: 38px; height: 40px; background-position: 6px 4px; padding: 0px 15px 0px 42px; }
	.contact-form ul li select { font-size: 13px; line-height: 38px; height: 40px; padding: 0px 25px 0px 8px; background-position: right 6px center; }
	.contact-form ul li textarea { height: 80px; line-height: 22px; padding: 8px; }
	.contact-form ul li:last-child { text-align: center; }
}
@media only screen and (max-width: 479px) {
	.contact-section { padding: 20px 0px; }
	.contact-form { margin: 20px 0px 0px; }
	.contact-form ul li { margin: 0px 0px 10px; }
	.contact-form ul li .block { width: 100%; margin-right: 0px; margin-bottom: 10px; }
	.contact-form ul li .block:last-child { margin-bottom: 0px; }
	.contact-form ul li .btn { margin-top: 10px; }
}


/* -----HOW IT WORKS----- */
.how-its-work h2 { margin: 0px 0px 50px; }
.how-its-work .row { -webkit-display: flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; justify-content: space-between; align-items: center; padding: 0px 0px 50px; position: relative; }
.how-its-work .row:before { content: ""; position: absolute; left: 50%; top: 0px; width: 1px; height:100%; background-color: #01406c; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); }
.how-its-work .screen { width: 40%; text-align: right; }
.how-its-work .screen img { max-width: 100%; -webkit-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.1); -ms-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.1); -o-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.1); box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.1); border-radius: 22px; z-index: 2; }
.how-its-work .app { width: 100px; height: 100px; border-radius: 50%; background-color: #109af5; border: 5px solid #01406c; position: relative; z-index: 5; }
.how-its-work .app:before, .how-its-work .app:after { content: ""; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.how-its-work .app:before { width: 92%; height: 92%; border-radius: 50%; background-color: #01406c;  }
.how-its-work .app:after { width: 144px; height: 13px; background-image: url(../images/works-arrow.png); background-repeat: no-repeat; background-position: 0px 0px; z-index: -1; }
.how-its-work .app h5 { position: relative; z-index: 9; line-height: 90px; color: #fff; font-style: italic; }
.how-its-work .description { width: 40%; text-align: left; }
.how-its-work .row:nth-child(odd) .screen { order: 3; text-align: left; }
.how-its-work .row:nth-child(odd) .app { order: 2; }
.how-its-work .row:nth-child(odd) .description { order: 1; text-align: right; }
.how-its-work .row:last-child { padding-bottom: 0px; border-bottom: none; }
.how-its-work h4 { font-family: 'Oswald', sans-serif; margin: 0px 0px 15px; color: #111; }
.how-its-work h6 { color: #109af5; margin: 0px 0px 20px; }
.how-its-work p { line-height: 24px; }


/* -----SUPPORT----- */
.support .support-card { float: left; width: 32%; margin-right: 2%; margin-top: 40px; padding: 15px 15px 15px 80px; text-align: left; background-repeat: no-repeat; background-position: 10px 15px; }
.support .support-card:nth-child(3n) { margin-right: 0px; }
.support .support-card a { display: block; }
.support .support-card h3 { font-size: 27px; line-height: 33px; font-weight: 400; margin-bottom: 5px; }
.support .support-card h6 { font-size: 13px; text-transform: uppercase; margin-bottom: 5px; color: #757575; }
.support .support-card h6 span { margin-right: 6px; color: #ef5350; }

.support .support-card.call { background-image: url('../images/img-call.png'); }
.support .support-card.chat { background-image: url('../images/img-chat.png'); }
.support .support-card.faw { background-image: url('../images/img-faq.png'); }

/* FAQ PAGE START HERE------------------------------------- */
.faq { padding: 60px 0px; }
.faq .left-block { float: left; width: 20%; padding: 15px; background-color: #f6f6f6; border: 1px solid #ddd; font-size: 14px; line-height: 24px; color: #333; font-style: italic; }
.ui-accordion { float: right; width: 76%; }
.ui-accordion-header { font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 22px; color: #109af5; font-weight: 400; margin: 0px 0px 10px; position: relative; cursor: pointer; padding: 10px 35px 10px 15px; border: 1px solid #ddd; }
.ui-accordion-header span { background-image: url('../images/select-dropdown.png'); background-position: 0px 0px; background-repeat: no-repeat; width: 14px; height: 9px; position: absolute; right: 15px; top: 18px; }
.ui-accordion-header-active.ui-accordion-header { margin: 0px; }
.ui-accordion-header-active.ui-accordion-header span { background-image: url('../images/accordian-arrow-active.png'); }
.ui-accordion-content { padding: 15px; border: 1px solid #ddd; font-size: 14px; line-height: 22px; color: #333; }
.ui-accordion-content-active { border: 1px solid #ddd; border-top: none; margin: 0px 0px 10px; }


/* -----TERMS AND CONDITION----- */
.terms-condition { padding: 70px 0px; }
.terms-condition h2 { margin: 0px; }
.terms-condition h5 { margin: 0px 0px 20px; }
.terms-condition h6 { margin: 20px 0px 10px; font-weight: 700; color: #01406b; }
.terms-condition span { font-weight: 700; color: #111; }
.terms-condition em { color: #109af5; font-weight: 600; }
.terms-condition a { text-decoration: underline; font-style: italic; }
.terms-condition ul { margin: 15px 0px 15px 25px; }
.terms-condition ul li { list-style: inside; font-size: 14px; line-height: 20px; color: #333; margin: 0px 0px 10px; }
.terms-condition ul li:last-child { margin: 0px; }

@media only screen and (max-width: 979px) {
	.terms-condition { padding: 50px 0px; }
	.terms-condition ul li { font-size: 13px; }
}
@media only screen and (max-width: 767px) {
	.terms-condition { padding: 40px 0px; }
	.terms-condition h5 { margin: 0px 0px 10px; }
	.terms-condition h6 { margin: 15px 0px 6px; }
	.terms-condition ul li { margin: 0px 0px 6px; }
	.terms-condition ul { margin: 10px 0px 10px 25px; }
	.terms-condition span { font-weight: 600; }
}
@media only screen and (max-width: 639px) {
	.terms-condition { padding: 30px 0px; }
	.terms-condition ul { margin: 10px 0px; }
}
@media only screen and (max-width: 479px) {
	.terms-condition { padding: 20px 0px; }
}


/* -----ABOUT US----- */
.about-us { padding: 70px 0px; }
.about-us .row { -webkit-display: flex; display: flex; -webkit-flex-flow: wrap; flex-flow: wrap; justify-content: space-between; align-items: center; max-width: 1000px; margin: 0 auto; }
.about-us .row .image-block { width: 32%; }
.about-us .row .image-block img { max-width: 100%; }
.about-us .row .text-block { width: 63%; }
.about-us h2 { margin: 0px 0px 25px; }

@media only screen and (max-width: 979px) {
	.about-us { padding: 50px 0px; }
}
@media only screen and (max-width: 767px) {
	.about-us { padding: 40px 0px; }
	.about-us .row { align-items: flex-start; }
}
@media only screen and (max-width: 639px) {
	.about-us { padding: 30px 0px; text-align: center; }
	.about-us .row .image-block { width: 100%; display: none; }
	.about-us .row .image-block img { max-height: 400px; }
	.about-us .row .text-block { width: 100%; }
	.about-us h2 { display: none; }
}
@media only screen and (max-width: 479px) {
	.about-us { padding: 20px 0px; }
}